.main-container {
  margin-top: 10vh;
  margin-bottom: 10vh;
  width: 80vw;
  color: white;
  border: 5px solid #00ff00;
  border-image: repeating-linear-gradient(
    to bottom,
    #00ff00,
    #121212 1px,
    #00ff00 5px,
    #121212 1px
  ) 1;
  box-shadow:
    hsla(120, 100%, 50%, 0.4) -5px 5px,
    hsla(120, 100%, 60%, 0.3) -10px 10px,
    hsla(120, 100%, 70%, 0.2) -15px 15px,
    hsla(120, 100%, 79%, 0.1) -20px 20px,
    hsla(120, 100%, 89%, 0.05) -25px 25px;
}
