<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta charset=" UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="favicon/site.webmanifest" />
    <link
      rel="mask-icon"
      href="favicon/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <link rel="canonical" href="https://matejruzic.me" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#ffffff" />
    <meta name="title" content="Matej Ruzic" />
    <meta
      name="description"
      content="Welcome to my weird and colorful website! I hope you will find something interesting and worth exploring!"
    />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Matej Ruzic" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://matejruzic.me" />
    <meta property="og:title" content="Matej Ruzic" />
    <meta
      property="og:description"
      content="Welcome to my weird and colorful website! I hope you will find something interesting and worth exploring!"
    />
    <meta
      property="og:image"
      content="https://orilcetvqumoiywadhwj.supabase.co/storage/v1/object/public/me-images/meta-bg.webp"
    />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://matejruzic.me" />
    <meta property="twitter:title" content="Matej Ruzic" />
    <meta
      property="twitter:description"
      content="Welcome to my weird and colorful website! I hope you will find something interesting and worth exploring!"
    />
    <meta
      property="twitter:image"
      content="https://orilcetvqumoiywadhwj.supabase.co/storage/v1/object/public/me-images/meta-bg.webp"
    />
    <title>Matej Ruzic</title>
  </head>
  <body class="m-0 min-h-full bg-white font-clash dark:bg-black">
    <div
      class="box-border grid grid-rows-layout-mobile overflow-hidden border border-black grid-areas-layout-mobile dark:border-white xl:h-screen xl:grid-cols-layout xl:grid-rows-layout xl:grid-areas-layout"
    >
      <slot />
    </div>
  </body>
</html>
